<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar class="mat-elevation-z6 nav">
    <a class="home" routerLink="/">{{title}}</a>
    <span class="fill-space"></span>
    <div *ngIf="loginService.user; else logIn">
      <a routerLink="/timeline">Timeline |</a>
      <a (click)="placeTweet()"> Tweet |</a>
      <a routerLink="/profile/{{loginService.user.name}}"> {{loginService.user.name}} |</a>

      <a *ngIf="loginService.user.userRole.name == 'Administrator'" routerLink="/admin"> Admin |</a>
      <a (click)="logout()"> Logout</a>
    </div>
    <ng-template #logIn>
      <a routerLink="/login">Login</a>
    </ng-template>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>

