.fill-space{
  flex: 1 1 auto;
}

.nav{
  background-color: #1a73e8;
}

.nav a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}


.mat-divider{
  background-color: white
}
.home{
  text-decoration: none;
  color: white;
}


